<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Daily Counter</title>
    <script src="https://unpkg.com/htmx.org@v2.0.4"></script>
    <script src="/static/counter.js"></script>
    <style>
        .water-drop-btn {
            background: none;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<h1>Counter</h1>
<div id="counter">
    {{ template "water_drop_btn.html" . }}
    <div id="result">
        {{ template "counter_table.html" . }}
    </div>
</div>
<a href="/history">View History</a>
<form action="/logout" method="get">
    <button type="submit">Logout</button>
</form>
</body>
</html>